* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: grid;
    position: sticky;
    top: 0;
    z-index: 99;
}

.loadinggif {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #242424;
    font-family: Helvetica, sans-serif;
}

#zeitstrahl {
    display: flex;
    justify-content: center;
    color: teal;
    padding: 20px;
}

#Einleitung {
    text-align: center;
    font-size: 45px;
    padding: 10px;
    color: teal;
}

.text {
    color: white;
    font-size: 20px;
    text-align: center;
}


/* Setzt Grössenlimit für den Zeitstrahl */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


/* Der eigentliche Zeitstrahl */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: teal;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


/* Der Container um den Content */

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


/* Kreise auf dem Zeitstrahl */

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: teal;
    border: 4px double #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Platzierung des linken Containers */

.left {
    left: 0;
}


/* Platzierung des rechten Containers */

.right {
    left: 50%;
}


/* Pfeile auf dem linken Container, die nach rechts zeigen */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid teal;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent teal;
}


/* Pfeile auf dem rechten Container, die nach links zeigen */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid teal;
    border-width: 10px 10px 10px 0;
    border-color: transparent teal transparent transparent;
}


/* Positionierung des Kreises vom rechten Container */

.right::after {
    left: -16px;
}


/* Der Content selber */

.content {
    padding: 20px 30px;
    background-color: teal;
    position: relative;
    border: medium solid teal;
    border-radius: 6px;
}


/* Effekt beim Hovern über den Content */

.content:hover {
    transition-duration: 0.4s;
    background-color: rgb(3, 105, 105);
    color: black;
    border: medium solid teal;
    border-radius: 6px;
    cursor: pointer;
}


/* Responsiver Media Query für Bildschirme unter 600px breit */

@media screen and (max-width: 600px) {
    /* Platziere den Zeitstrahl nach links */
    .timeline::after {
        left: 31px;
    }
    /* Container mit 100% Breite */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Sicherstellen dass alle Pfeile nach links zeigen */
    .container::before {
        left: 60px;
        border: medium solid teal;
        border-width: 10px 10px 10px 0;
        border-color: transparent teal transparent transparent;
    }
    /* Sicherstellen dass alle Kreise am richtigen Ort sind */
    .left::after,
    .right::after {
        left: 15px;
    }
    /* Alle rechten Container gleich wie die linken */
    .right {
        left: 0%;
    }
}


/* Generation-Content */

.generation-cont {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.text-Image {
    size: 50px 50px;
    border: 12px solid orange;
}

.generation-text {
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(75, 17, 17);
    border: 10px solid blue;
    height: 2000px;
    margin-top: 50px;
    width: fit-content;
    height: fit-content;
}

.hide {
    display: none;
}

.btntimeline {
    color: red;
}

.ueberschrift {
    padding: 5px;
}

.textbox {
    width: 50%;
    align-items: center;
    text-align: center;
    border: 12px solid #242424;
    font-size: 14px;
}