@font-face {
    font-family: sfbold;
    src: url(fonts/sfbold.otf) format("opentype");
}


/**Initialisiert die Schriftarte für website*/

@font-face {
    font-family: sfregular;
    src: url(fonts/sfregular.otf) format("opentype");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.loadinggif{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #242424;
    font-family: Helvetica, sans-serif;
}

p {
    font-family: sfregular;
}

h1 {
    font-family: sfbold;
}

h1 {
    font-family: sfbold;
}

.intro{
    color: teal;
    border-bottom: 1px teal solid;
    margin-left: 45%;
    margin-right: 45%;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.text {
    margin-left: 30%;
    margin-right: 30%;
    font-size: 1.5rem;
    color: rgb(197, 196, 196);
    line-height: 1.6;
}
