@font-face {
    font-family: sfbold;
    src: url(fonts/sfbold.otf) format("opentype");
}


/**Initialisiert die Schriftarte für website*/

@font-face {
    font-family: sfregular;
    src: url(fonts/sfregular.otf) format("opentype");
}

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #242424;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}

p {
    font-family: sfregular;
}

h1 {
    font-family: sfbold;
}

h1 {
    font-family: sfbold;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    min-height: 8vh;
    background-color: #1a1a1a;
}

.text {
    color: white;
    font-size: 20px;
    text-align: center;
}

.buttonnav {
    background-color: #1a1a1a;
    border: none;
    padding: 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    transition-duration: 0.4s;
    background-color: teal;
    color: #121212;
}

.logo {
    color: teal;
    text-transform: uppercase;
    letter-spacing: normal;
    font-size: 20px;
}

.links {
    display: flex;
    justify-content: center;
    width: 50%;
    text-transform: uppercase;
    font-size: 20px;
}

.links li {
    list-style: none;
}

.links a {
    color: teal;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

.quiz{
    --hue: var(--hue-neutral);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

.quiz.correct{
    --hue: var(--hue-correct);
}

.quiz.wrong{
    --hue: var(--hue-wrong);
}

.container{
    width: 400px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    border: 2px solid;
    border-color: hsl(var(--hue), 100%, 50%);
}

.btn:hover{
    border: 2px solid;
    border-color: black;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong{
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}